.main-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.radio-buttons-container {
  background: rgba($color: #22809c, $alpha: 1.0);
  padding: 10px 16px;
}
