mat-card {
  width: 400px;
  height: 340px;
  background: rgba($color: rgb(176, 227, 240), $alpha: 1.0);
  .content {
    display: flex;
    gap: 12px;
  }
}
.spacer {
  flex: 1 1 auto;
}

.date {
  display: flex;
  gap: 10px;
}
